[*.cs]

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# IDE0003: Remove qualification
dotnet_style_qualification_for_event = false:none

# IDE0003: Remove qualification
dotnet_style_qualification_for_field = false:none

# IDE0003: Remove qualification
dotnet_style_qualification_for_method = false:none

# IDE0003: Remove qualification
dotnet_style_qualification_for_property = false:none

# IDE0062: Make local function 'static'
csharp_prefer_static_local_function = true:none
